.page {
  padding:0;
  margin:0;
  width: 100%;
  
  display: flex;
  flex-direction: row;
  overflow-x: hidden;
  flex-wrap: wrap;
}


.navigation {
  display: flex;
  flex-direction: column;
  max-height: 100vh;
  width: 30%;
  padding: 12px;
  background-color: #282020;
  color: #fffaf7;
  overflow-x: hidden;
  box-sizing: border-box;
}

.main{
  width: 70%
}

main{
  width: 100%;
  
}

.navigation > a {
  letter-spacing: 0.5px;
  text-decoration: none;
  margin: 4px;
  color: #fffaf7;
}

.navigation a{
  color: #fffaf7;
}

.navigation  a:visited {
  color: #BEB2AE;
}

.navigation button{
  border: none;
  background-color: transparent;
  color: #fffaf7;
  text-decoration: underline;
  font-family: Karma;
  font-size: 16px;
  cursor: pointer;
  outline: none;
}

.navigation i {
  color: tomato;
  margin: 0 8px;
  cursor: pointer;
}

.pieces-list{
  display: flex;
  flex-direction: column;
}

.pieces-list-header{
  margin-top: 20px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-content: flex-start;
  font-size: 18px;
}



.main {
  width:70%;
  display: flex;
  flex-direction: row;
  flex-grow: 1;
}

.content-container{
  min-width: 100%;
  height: 100vh;
  max-height: 100vh;
  overflow-y: scroll;
}

.content-container::-webkit-scrollbar-track
{
	background-color: #fffaf7;
}

.content-container::-webkit-scrollbar
{
	width: 8px;
	background-color: #fffaf7;
}

.content-container::-webkit-scrollbar-thumb
{
  /* background-color: #282020;
  border-left: 3px solid tomato;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px */


  background-color: tomato;
  border: 2px solid #fffaf7;
  border-radius: 10px;

}

.content {
  display: flex;
  width: 100%;
  box-sizing: border-box; 
  flex-wrap: wrap;
}

.content-left,
.content-right {
  display: flex;
  flex-direction: column;
  align-content: center;
  align-items: center;
  box-sizing: border-box;
  padding:8px;
  min-width: 50%;
  width:50%;
  white-space: pre-wrap;

}



@media only screen and (max-width: 1200px) {
  .content-left,
  .content-right {
    min-width: 100%;
  }

  @media only screen and (max-width: 600px) {
    .navigation,
    .main,
    .content-container {
      min-width: 100%;
      height: auto;
      max-height: none;
    }
  
  }

}

.icon-inset{
  position: relative;
  top: 2px;
  left: -11px;
  text-shadow: 1px 0px 0px tomato, 0px 1px 0px tomato, -1px 0px 0px tomato, 0px -1px 0px tomato ;
  font-weight: 700;
  font-size: 14px;
  color: #282020;
}

